version: "3"

services:

  backend:
    build: ./backend
    ports:
      - 5000:5000

  nginx:
    build: ./nginx
    depends_on:
      - backend
    ports: 
      - 80:80

  worker:
    build: ./worker
    depends_on:
      - postgres
    environment:
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_HOST=postgres
      - PYTHONDONTWRITEBYTECODE=1
    command: python worker.py

  postgres:
    image: postgres:13.2
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes: 
     pgdata:
